body{
    background-color: rgba(92, 146, 92, 0.616);
    padding: 10px;
}
.header{
    background-color: rgb(47, 172, 255);
    height: 70px;
}
.navg{
    height: 70px;
    background-color: rgb(43, 202, 115);
}
.main{
    display: flex;
}
.aside{
    width: 50%;
    height: 700px;
    background-color: rgba(43, 202, 115,.5);
}
.right{
    height: 700px;
    width: 50%;
}
.content{
    background-color: royalblue;
    width: 100%;
}

.section{
    width: 100%;
    background-color: slateblue;
}
.footer{
    height: 70px;
    background-color: skyblue;
}