body{
    color: white;
    padding: 0;
    margin: 0;
    font-size: 24px;
}

.header{
    width: 100vw;
    height: 50px;
    background-color: red;
}

.footer{
    width: 100vw;
    height: 50px;
    background-color: red;
}

.main{
    height: 600px;
    background-color: green;
    display: flex;
}

.image{
    height: 200px;
    width: 250px;
    background-color: wheat;
}

.left{
    height: 100%;
    width: 30%;
    background-color: orange;
}


.right{

    height: 100%;
    width: 70%;
    background-color: orchid;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}